body {
    text-align: center;
}

.fab, .fas {
    font-size: 3.5em;
    width: 80px;
}

.fa-facebook-square {
    color: blue;
}

.fa-instagram {
    color: violet;
}

.fa-youtube {
    color: red;
}

.fa-linkedin-in {
    color: royalblue;
}

.fa-whatsapp {
    color: lime;
}

.fa-cat {
    color: orange
}